:root {
  --dark-color: #4E4C50;
  --dandelion-color: #D79300;
  --yellow-color: #FFCC00;
  --offwhite-color: #FFFFFA;
  --seablue-color: #008CFF;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to bottom, white, var(--seablue-color));
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
   overflow-x: hidden;
}

.App {
  text-align: center;

}

